<h1>About</h1>
<p>This is my very first Ruby on Rails project and I really hope it will succeed and give me the experience I need to continue developing Rails aps as well as other Ruby-related development. </p>