<h1>Welcome to the CIRCUS!</h1>
<p>This is the home page for the app I am writing while learning Rails from the <a href="http://www.onemonthrails.com">One Month Rails video course </a>. There's not much here yet, but check back often for new goodies and such.
</p>
<p> Now, because I am a tinkerer at heart, I like messing with little tricks. I know HTML , and I know the a href tag quite well. But lets try the Rails approach. </p>
<p> <%= link_to "Google that sh*t!", "http://www.google.com"  %></p>

<p>Let's see. Did I break it?</p>
<p>.............................</p>
<p>Yeah ...I did actually. But that's only because I forgot the Hot Potato (http) in front of the link. <b>Oops ...</b> Ah well ...it works now. :) </p>
